<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jai bhole Nath</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <br>	
  <a href="{% url 'show_customers' %}"><button type="button" class="btn btn-success btn-lg">Show Customers  </button></a>
  <a href="{% url 'cashbook' %}"><button type="button" class="btn btn-primary btn-lg">Show Cashbook</button></a>
  <h2>Add users</h2>
  <form action="{% url 'add_customers' %}" method="post">
    <div class="form-group">
      <label >Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
    </div>
    <div class="form-group">
      <label >Address:</label>
      <input type="text" class="form-control" id="address" placeholder="Enter address" name="address">
    </div>
    <div class="form-group">
      <label >gstIn:</label>
      <input type="text" class="form-control" id="gstIn" placeholder="Enter bank" name="gstIn">
    </div>
    <div class="form-group">
      <label >Phone:</label>
      <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone">
    </div>	
    <button type="submit" class="btn btn-danger">Submit</button>
  </form>
</div>

</body>
</html>

