<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<style>-->
<!--body {font-family: Arial, Helvetica, sans-serif;}-->
<!--form {border: 3px solid #f1f1f1;}-->

<!--input[type=text], input[type=password] {-->
    <!--width: 100%;-->
    <!--padding: 12px 20px;-->
    <!--margin: 8px 0;-->
    <!--display: inline-block;-->
    <!--border: 1px solid #ccc;-->
    <!--box-sizing: border-box;-->
<!--}-->

<!--button {-->
    <!--background-color: #4CAF50;-->
    <!--color: white;-->
    <!--padding: 14px 20px;-->
    <!--margin: 8px 0;-->
    <!--border: none;-->
    <!--cursor: pointer;-->
    <!--width: 100%;-->
<!--}-->

<!--button:hover {-->
    <!--opacity: 0.8;-->
<!--}-->

<!--.cancelbtn {-->
    <!--width: auto;-->
    <!--padding: 10px 18px;-->
    <!--background-color: #f44336;-->
<!--}-->

<!--.imgcontainer {-->
    <!--text-align: center;-->
    <!--margin: 24px 0 12px 0;-->
<!--}-->

<!--img.avatar {-->
    <!--width: 40%;-->
    <!--border-radius: 50%;-->
<!--}-->

<!--.container {-->
    <!--padding: 16px;-->
<!--}-->

<!--span.psw {-->
    <!--float: right;-->
    <!--padding-top: 16px;-->
<!--}-->

<!--/* Change styles for span and cancel button on extra small screens */-->
<!--@media screen and (max-width: 300px) {-->
    <!--span.psw {-->
       <!--display: block;-->
       <!--float: none;-->
    <!--}-->
    <!--.cancelbtn {-->
       <!--width: 100%;-->
    <!--}-->
<!--}-->
<!--</style>-->
<!--</head>-->
<!--<body>-->

<!--<h2>Login Form</h2>-->

<!--<form action="{% url 'login' %}" method="post">{% csrf_token %}-->
  <!--<div class="imgcontainer">-->
    <!--<img src="img_avatar2.png" alt="Avatar" class="avatar">-->
  <!--</div>-->

  <!--<div class="container">-->
    <!--<label for="uname"><b>Username</b></label>-->
    <!--<input type="text" placeholder="Enter Username" name="username" required>-->

    <!--<label for="psw"><b>Password</b></label>-->
    <!--<input type="password" placeholder="Enter Password" name="password" required>-->
        <!---->
    <!--<button type="submit">Login</button>-->
    <!--<label>-->
      <!--<input type="checkbox" checked="checked" name="remember"> Remember me-->
    <!--</label>-->
  <!--</div>-->

  <!--<div class="container" style="background-color:#f1f1f1">-->
    <!--<button type="button" class="cancelbtn">Cancel</button>-->
    <!--<span class="psw">Forgot <a href="#">password?</a></span>-->
  <!--</div>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Jai bhole Nath</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.container {
    padding: 25px;
    position: fixed;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 {
 border:0 solid #fff;
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

  </style>
</head>
<body style="background-color:#5a9bd5;">
  <div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
          <form action="{% url 'login' %}" method="post">{% csrf_token %}
            <div class="form-login">
            <h4>Welcome back.</h4>
            <input type="text" id="userName" name="username" class="form-control input-sm chat-input" placeholder="username" />
            </br>
            <input type="text" id="userPassword" name="password" class="form-control input-sm chat-input" placeholder="password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">
                <input type="submit" class="btn btn-primary btn-md"></a>
            </span>
            </div>
            </div>
        </form>
        </div>
    </div>
</div>
</body>
</body>
</html>