<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jai bhole Nath</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <br>	
  <a href="{% url 'add_customers' %}"><button type="button" class="btn btn-success btn-lg">Add Customers  </button></a>
  <a href="{% url 'cashbook' %}"><button type="button" class="btn btn-primary btn-lg">Show Cashbook</button></a>
  <h2>Users</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone No.</th>
	<th>Action</th>

      </tr>
    </thead>
    <tbody>
      {% for i in customers %}
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.address}}</td>
        <td>{{i.gstIn}}</td>
        <td>{{i.phone}}</td>
        <td>
          <form method="POST" action="{% url 'customers_cashbook' %}">{% csrf_token %}
            <input type="hidden" name="id" value="{{i.id}}">
            <input type="submit" class="btn btn-primary btn-sm"></td>
          </form>
      </tr>
      {% endfor %}
    </tbody>
  </table>	
</div>

</body>
</html>

